.bodywrapper {
    text-align: center;
}
.rating_wrapper {
    display: flex;
    justify-content: space-between;
}
.card_wrapper {
    display:flex;
    justify-content: space-between;
}
.cardflex {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}
/* .rating_center {
    text-align: center;
}
.rating_right {
    text-align: right;
}
.ratingSize {
    font-size: x-large;

} */